

{% load static %}

<html lang="pt-BR">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>editar_pet</title>
    <link rel="icon" href="{% static 'usuarios/img/logo_adote.ico'%}" type="image / x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'adote/css/adote.css' %}" >

    <link href="{% static 'usuarios/css/cadastro.css' %}" rel="stylesheet">
    <link href="{% static 'divulgar/css/novo_pet.css' %}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    </head>
    <body>

        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark" >
            <a class="navbar-brand" href="index.html"><img class="d-inline-block align-top" width="40" height="40"
                    src="{% static 'usuarios/img/logo_adote.png' %}"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
                aria-controls="navbarTogglerDemo01" aria-expanded="true" aria-label="Alterna navegação">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                    
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'seus_pets'%}">Seus Pet</a>
                    </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'ver_pedido_adocao'%}">Pedido de adoção</a>
                </li>
                
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'adote'%}">Página principal</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'sair'%}">sair</a>
                </li>
                </ul>
            </div>
    
        </nav>

        <div  class="headerSecNovo_pet" >
            <div class="row">
             

                <div class="col-md">
                    <div class="wrapper">
                        <div class="box">
                            <div class="header-box">
                                <h3 class="font-vinho">Editar perfil do pet </h3>
                                <hr>
                            </div>
  <form method="post" enctype="multipart/form-data" >
    {% csrf_token %}
   <!--'nome', 'descricao', 'animal', 'estado', 'cidade','telefone','tags','raca','sexo','porte','foto']--> 
     <!--  {{ form.as_p }} --> 


     <div class="col-md">
        {{ form.foto.label_tag }}
        {{ form.foto}}
      </div>
      <br>8
     <div class="col-md">
        {{ form.nome.label_tag }}
        {{ form.nome }}
      </div>
   <br>
      <div class="col-md">
        {{ form.descricao.label_tag }}
        {{ form.descricao }}
      </div>
      <br>
      <div class="col-md">
        {{ form.animal.label_tag }}
        {{ form.animal }}
      </div>
      <br>
      <diV class="row">
        <div class="col-md">
        {{ form.estado.label_tag }}
        {{ form.estado }}
      </div>
      <br>
      <div class="col-md">
        {{ form.cidade.label_tag }}
        {{ form.cidade}}
      </div>
    </div>
      <br>
      <div class="col-md">
        {{ form.telefone.label_tag }}
        {{ form.telefone}}
      </div>
      <br>
      <div class="col-md">
        {{ form.raca.label_tag }}
        {{ form.raca}}
      </div>
      <br>
      <div class="col-md">
        {{ form.tags.label_tag }}
        {{ form.tags}}
      </div>
      <br>
      <div class="col-md">
        {{ form.sexo.label_tag }}
        {{ form.sexo}}
      </div>
      <br>
      <div class="col-md">
        {{ form.porte.label_tag }}
        {{ form.porte}}
      </div>
      <br>
      
 
    <button type="submit" class="btn btn-success">Salvar</button>
  </form>
</div>
</div>
</div>
</div>
</div>
</body>
</html>
