{% load static %}
<!doctype html>
<html lang="pt-BR">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>novo_pet</title>
    <link rel="icon" href="{% static 'usuarios/img/logo_adote.ico'%}" type="image / x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'adote/css/adote.css' %}" >

    <link href="{% static 'usuarios/css/cadastro.css' %}" rel="stylesheet">
    <link href="{% static 'divulgar/css/novo_pet.css' %}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    </head>
    <body>

        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark" >
            <a class="navbar-brand" href="index.html"><img class="d-inline-block align-top" width="40" height="40"
                    src="{% static 'usuarios/img/logo_adote.png' %}"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
                aria-controls="navbarTogglerDemo01" aria-expanded="true" aria-label="Alterna navegação">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                    
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'seus_pets'%}">Seus Pet</a>
                    </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'ver_pedido_adocao'%}">Pedido de adoção</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'listar_pets'%}">adotar</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'adote'%}">Página principal</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'sair'%}">sair</a>
                </li>
                </ul>
            </div>
    
        </nav>
        
        <!--<div class="container-fluid">-->
        <div  class="headerSecNovo_pet" >
            <div class="row">
             

                <div class="col-md">
                    <div class="wrapper">
                        <div class="box">
                            <div class="header-box">
                                <h3 class="font-vinho">Quero divulgar </h3>
                                <hr>
                            </div>
                            <div class="body-box">
                                <form action="{% url 'novo_pet' %}" method="POST" enctype='multipart/form-data'>{% csrf_token %}
                                    {% if messages %}
                                        <br>
                                        {% for message in messages %}
                                            <div class="alert {{message.tags}}">
                                                {{message}}
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                    <input type="file" name="foto" class="form-control">
                                    <br>
                                    <span>Nome:<span>
                                    <input type="text" class="form-control" name="nome" placeholder="Digite o nome do pet...">
                                    <br>
                                    
                                </span>Tipo de animal</span>
                                <select name="animal" class="form-select">
                                    {% for animal in animals%}
                                       <option value="{{animal.id}}">{{animal.animal}}</option>
                                    {% endfor %}
                                      
                                   </select>
                                    <br>
                                    
                                    <span>Descrição:<span>
                                    <textarea class="form-control" name="descricao" placeholder="Descrição..."></textarea>
                                    <br>

                                    <div class="row">
                                        <div class="col-md">
                                            <span>Estado:</span>
                                            <input type="text" placeholder="Digite o estado do pet..." name="estado" class="form-control">
                                        </div>

                                        <div class="col-md">
                                            <span>Cidade:</span>
                                            <input type="text" placeholder="Digite a cidade do pet..." name="cidade" class="form-control">
                                        </div>
                                        
                                    </div>
                                    <br>
                                    <span>Telefone para contato:</span>
                                    <input type="text" placeholder="Digite o seu telefone..." name="telefone" class="form-control">
                                    <br>
                               
                                    
                                    <span>Tags:</span>
                                    <select name="tags" multiple class="form-select">
                                     {% for tag in tags%}
                                        <option value="{{tag.id}}">{{tag}}</option>
                                     {% endfor %}
                                    </select>
                                    <br>
                                    </span>Raça:</span>

                                    <select name="raca" class="form-select">
                                     {% for raca in racas%}
                                        <option value="{{raca.id}}">{{raca}}</option>
                                     {% endfor %}
                                       
                                    </select>
                                    <br>
                                </span>Sexo:</span>
                                    <select name="sexo" class="form-select">
                                        {% for sexo in sexos%}
                                           <option value="{{sexo.id}}">{{sexo}}</option>
                                        {% endfor %}
                                    
                                       </select>
                                       <br>
                                </span>Porte:</span>
                                    <select name="porte" class="form-select">
                                        {% for porte in portes%}
                                           <option value="{{porte.id}}">{{porte}}</option>
                                        {% endfor %}
                                          
                                       </select>

                                  
                                  

                                    <input type="submit" value="ENVIAR" class="btn-custom-primary">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>

        <script>
            $(document).ready(function(){
              $(".navbar-toggler").click(function(){
                $(".navbar-collapse").toggle();
              });
            });
          </script>

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>