{% load static %}
<!doctype html>
<html lang="pt-BR">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>listar_pets</title>
    <link rel="icon" href="{% static 'usuarios/img/logo_adote.ico'%}" type="image / x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'usuarios/css/cadastro.css' %}" rel="stylesheet">
    <link href="{% static 'divulgar/css/novo_pet.css' %}" rel="stylesheet">
    <link href="{% static 'divulgar/css/seus_pet.css' %}" rel="stylesheet">
    <link href="{% static 'adotar/css/listar_pets.css' %}" rel="stylesheet">
    
    <base href="{% static '/' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'adote/css/adote.css' %}" >
        <script src="{% static 'adotar/js/index.js' %}"></script> 
   
     <link rel="shortcut icon" href="img/favicon.ico" type="image / x-icon">
     <link rel="icon" href="img/favicon.ico" type="image / x-icon">
     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
         integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
         crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
         integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
         crossorigin="anonymous"></script>


    </head>
    <body>
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark" >
            <img class="d-inline-block align-top" width="40" height="40" src="{% static 'usuarios/img/logo_adote.png' %}">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
                aria-controls="navbarTogglerDemo01" aria-expanded="true" aria-label="Alterna navegação">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'novo_pet'%}">Doe</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'seus_pets'%}">Seus Pet</a>
                    </li>

                
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'ver_pedido_adocao'%}">Pedido de adoção</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'adote'%}">Página principal</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'sair'%}">sair</a>
                </li>
                
                </ul>
            </div>
    
        </nav>
        
      <!-- <div class="container-fluid">-->
        <div  class="headerSecListar" >
            <div class="row">
              

                <div class="col-md">
                    <div class="wrapper">
                        <div class="box width80">
                            {% if messages %}
                                <br>
                                {% for message in messages %}
                                    <div class="alert {{message.tags}}">
                                        {{message}}
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <h3 class="font-vinho">Adote</h3>

                           <!-- <a href="#"  class="btn btn-outline-primary" role="button" data-bs-toggle="button">Toggle link</a>-->
                            <hr>  

                             
                            <form action="{% url 'listar_pets' %}" method="GET">
                                <div class="row">
                                    <div class="col-md-6">
                                        <input type="text" placeholder="Cidade..." value="{% if cidade %}{{cidade}}{% endif %}" name="cidade" class="form-control">
                                    </div>

                                    <!--<div class="col-md-4">
                                        <select class="form-select" name="raca">
                                           
                                            {% for raca in racas %}
                                            <option {% if raca_filter.id == raca.id %} selected {% endif %} value="{{raca.id}}">{{raca}}</option>
                                             
                                    {% endfor%}
                                        </select>-->
                                        <div class="col-md-4">
                                            <select class="form-select" name="animal">
                                                <option {% if animal_filter.id is None %} selected {% endif %} value="">Selecione um animal</option>
                                                {% for animal in animals %}
                                                <option {% if animal_filter.id == animal.id %} selected {% endif %} value="{{animal.id}}">{{animal.animal}}</option>
                                                 
                                        {% endfor%}
                                            </select>

                                    </div>
                                    <div class="col-md-2">
                                        <input type="submit" class="btn-custom-secondary" value="FILTRAR">
                                    </div>
                                </div>
                            </form>

                             <table class="tabela" >
                                <tr>
                                    <th>Foto</th>
                                    <th>Nome</th>
                                    <th>Raça</th>
                                    <th>Sexo</th>
                                    <th>Porte</th>
                                    <th>Status</th>
                                    <th>Cidade</th>
                                    <th>Tipo de animal<th>
                                    
                                </tr>
                                {% for pet in pets_list%}
                                    <tr class="tabela-linha">
                                        <td width="20%">
                                            <a href="{% url 'ver_pet' pet.id %}"><img width="40%" src="{{pet.foto.url}}"></a>
                                        </td>
                                        <td>
                                            {{pet.nome}}
                                        </td>
                                       
                                        <td>
                                            {{pet.raca}}
                                            
                                        </td>
                                       
                                        <td>
                                            {{pet.sexo}}
                                            
                                        </td>
                                        <td>
                                            {{pet.porte}}
                                            
                                        </td>
                                        <td>
                                            {% if pet.status == "P" %}
                                                <span class="badge ">Para adoção</span>
                                            {% elif pet.status == "A" %}
                                                <span class="badge text-bg-success">Adotado</span>
                                            {% endif%}

                                           
                        
                                        </td>
                                       
                                        <td>
                                            {{pet.cidade}}
                                        </td>
                                        <td>
                                            {{pet.animal.animal}}
                                            
                                        </td>

                                       
                                    </tr>
                                {% endfor %}
                            
                                
                            </table>
                            <div class="page-links">
                      {% if pets_list.has_previous %}
                        <!--  <a href="{% url 'listar_pets' %}?page=1">&laquo; Anterior</a>-->
                          <a class="paginacao-link" href="{% url 'listar_pets' %}?page={{ pets_list.previous_page_number }}">Anterior</a>
                      {% endif %}
              
                     <!-- <span class="current-page">
                          Página {{ pets_list.number }} de {{ pets_list.paginator.num_pages }}
                      </span>-->
              
                      {% if pets_list.has_next %}
                          <a class="paginacao-link" href="{% url 'listar_pets' %}?page={{ pets_list.next_page_number}}">Próximo</a>
                        <!--  <a href="{% url 'listar_pets' %}?page={{ pets_list.paginator.num_pages }}">last &raquo;</a>-->
                      {% endif %}
                  </span>
              </div>
                    </div>
                </div>

            </div>


        </div>


        <script>
            $(document).ready(function(){
              $(".navbar-toggler").click(function(){
                $(".navbar-collapse").toggle();
              });
            });
          </script>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>